Repository ximing/rab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: 重构项目,升级基建,提升库运行性能,大幅度减少包体
  .github/workflows/github-pages.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: version packages
  .changeset/README.md
  .changeset/config.json
  packages/observer/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/service/CHANGELOG.md
  scripts/publish-npm.sh
  website/package.json
Due: prettier --write

feat: 重构项目,升级基建,提升库运行性能,大幅度减少包体
  .gitignore
  .npmrc
  package.json
  packages/observer/package.json
  packages/observer/src/__tests__/edge-cases/reactionRunner-coverage.test.ts
  packages/react/package.json
  packages/service/package.json
  scripts/publish-npm.sh
Due: eslint --fix, prettier --write

chore: version packages
  package.json
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/service/src/service.ts
  test.js
Due: eslint --fix, prettier --write

feat: 添加 changeset 自动发布 workflow
  .catpaw/commands/commit.md
  .changeset/brave-pillows-feel.md
  .github/workflows/release.yml
  .npmrc
  packages/service/src/service.ts
Due: eslint --fix, prettier --write

fix: 修复 npm 发布认证配置
  .github/workflows/release.yml
  .npmrc
Due: none

chore: 发布流程添加tag推送到GitHub
  .changeset/tidy-tigers-occur.md
  .github/workflows/release.yml
Due: prettier --write

fix: 修复并发模式下的 unmount 内存泄露问题 - 在 useEffect 中缓存 adm 引用，避免闭包导致的重复注册 - 修正 universalFinalizationRegistry 的注册和注销调用 - 确保在 concurrent 模式下正确清理资源
  .changeset/funky-jeans-march.md
  packages/react/src/domain/bind.tsx
Due: eslint --fix, prettier --write

feat: 支持service内resolve
  packages/service/src/service.ts
Due: eslint --fix, prettier --write

chore: version packages
  .changeset/funky-jeans-march.md
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
Due: prettier --write

chore: version packages
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
Due: prettier --write

chore: version packages to 9.1.0
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/domain/bind.tsx
  packages/react/src/main.ts
  packages/react/src/useReaction.ts
  packages/service/CHANGELOG.md
  packages/service/src/decorators/inject.ts
  packages/service/src/ioc/container.ts
  packages/service/src/service.ts
  packages/web-mcp/CHANGELOG.md
  packages/web-mcp/build.config.ts
  packages/web-mcp/jest.config.js
  packages/web-mcp/package.json
  packages/web-mcp/src/bridge.ts
  packages/web-mcp/src/decorator.ts
  packages/web-mcp/src/main.ts
  packages/web-mcp/src/registry.ts
  packages/web-mcp/src/tools/execute-action.ts
  packages/web-mcp/src/tools/get-state.ts
  packages/web-mcp/src/tools/list-services.ts
  packages/web-mcp/src/tools/set-state.ts
  packages/web-mcp/src/types.ts
  packages/web-mcp/src/utils/identifier.ts
  packages/web-mcp/src/utils/reflect.ts
  packages/web-mcp/src/utils/schema.ts
  packages/web-mcp/src/utils/serialize.ts
  packages/web-mcp/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: fix npm auth in release workflow
  .github/workflows/release.yml
Due: none

fix: use NODE_AUTH_TOKEN in .npmrc for npm publish
  .npmrc
Due: none

fix: pin @rabjs scope to registry.npmjs.org in .npmrc
  .npmrc
Due: none

fix: use NPM_TOKEN env var for npm auth in CI
  .github/workflows/release.yml
  .npmrc
Due: none

fix: write npm auth directly to ~/.npmrc before publish
  .github/workflows/release.yml
Due: none

fix: use printf to write .npmrc to avoid heredoc indentation
  .github/workflows/release.yml
Due: none

feat: 新增 @rabjs/devtools 包
  packages/devtools/build.config.ts
  packages/devtools/jest.config.js
  packages/devtools/package.json
  packages/devtools/src/__tests__/assertions.test.ts
  packages/devtools/src/__tests__/expect.test.ts
  packages/devtools/src/__tests__/root-container-handle.test.ts
  packages/devtools/src/assert/assertions.ts
  packages/devtools/src/assert/expect.ts
  packages/devtools/src/assert/reporter.ts
  packages/devtools/src/main.ts
  packages/devtools/src/root-container-handle.ts
  packages/devtools/src/types/window.d.ts
  packages/devtools/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 修复示例 tsc 构建错误，整理 ai/skills
  ai/skills/km-rsjs-core-to-rs-react/SKILL.md
  ai/skills/rab-cdp-debug/SKILL.md
  ai/skills/rab-react/SKILL.md
  ai/skills/rab-react/evals/README.md
  ai/skills/rab-react/evals/evals.json
  ai/skills/rab-react/references/async-operations.md
  ai/skills/rab-react/references/best-practices.md
  ai/skills/rab-react/references/computed-properties.md
  ai/skills/rab-react/references/debugging.md
  ai/skills/rab-react/references/decorators.md
  ai/skills/rab-react/references/domain-architecture.md
  ai/skills/rab-react/references/event-system.md
  ai/skills/rab-react/references/hooks-api.md
  ai/skills/rab-react/references/observable-api.md
  ai/skills/rab-react/references/ssr.md
  examples/reactive-state/src/modules/domain/MinimalServiceDemo.tsx
  examples/reactive-state/src/modules/observer/ViewDemo.tsx
Due: eslint --fix, prettier --write

docs(skill): rab-cdp-debug 增加 setupWindowRootContainer 初始化步骤
  ai/skills/rab-cdp-debug/SKILL.md
Due: prettier --write

chore: release packages
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/web-mcp/package.json
Due: prettier --write

chore(changeset): 添加 onlyUpdatePeerDependentsWhenOutOfRange 配置
  .changeset/config.json
Due: prettier --write

ci(pages): 升级废弃的 actions 版本修复 Pages 工作流
  .github/workflows/github-pages.yml
Due: none

fix(website): web-mcp demo 用 defineProperty 遮蔽原生 modelContext
  website/src/demos/web-mcp/WebMcpDemo.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@e7db1d2d0020877d19ad66645ffa9c69af019d11 🚀
  assets/index-BDrRAxol.js
  index.html
Due: eslint --fix, prettier --write

fix(website): web-mcp demo 的 @mcpTool 显式命名
  website/src/demos/web-mcp/WebMcpService.ts
  website/src/demos/web-mcp/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@c31c4bfb59c00c8c56065a81989bae218e5c78c6 🚀
  assets/index-BDrRAxol.js
  assets/index-UNWt_4hS.js
  index.html
Due: eslint --fix, prettier --write

feat(website): 全站视觉重塑 —— Tailwind + 「Signal」设计系统
  pnpm-lock.yaml
  website/package.json
  website/src/App.tsx
  website/src/components/CodeBlock.tsx
  website/src/components/DemoCard.tsx
  website/src/components/SignalDemo.tsx
  website/src/main.tsx
  website/src/pages/Home.tsx
  website/src/styles.css
  website/vite.config.ts
Due: eslint --fix, prettier --write

docs(website): Service 示例方法去掉 @Action 装饰器
  website/src/demos/counter/CounterService.ts
  website/src/demos/counter/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@bf9940685eebc65af16ad58b7695542bb9f19ea2 🚀
  assets/index-CjrzbZ-J.js
  assets/index-CpyVmUaT.js
  index.html
Due: eslint --fix, prettier --write

docs: Service 间依赖改用 getter + this.resolve 推荐写法
  ai/skills/rab-react/SKILL.md
  ai/skills/rab-react/evals/evals.json
  ai/skills/rab-react/references/best-practices.md
  ai/skills/rab-react/references/debugging.md
  ai/skills/rab-react/references/decorators.md
  ai/skills/rab-react/references/event-system.md
  website/src/demos/async-user/UserDemo.tsx
  website/src/demos/collab/CollabDemo.tsx
  website/src/demos/collab/CollabServices.ts
  website/src/demos/collab/index.ts
  website/src/demos/inject/InjectDemo.tsx
  website/src/demos/inject/index.ts
  website/src/pages/ai/SkillRabReact.tsx
  website/src/pages/guides/Demos.tsx
  website/src/pages/guides/QuickStart.tsx
  website/src/pages/guides/Service.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@3942a85c71f91c6f7e7760b9c74d9f74f7ec4667 🚀
  assets/index-C-i_apTU.js
  assets/index-CpyVmUaT.js
  index.html
Due: eslint --fix, prettier --write

chore: link shared skills for Claude and Codex
  .claude/skills/rab-cdp-debug
  .claude/skills/rab-react
  .codex/skills/rab-cdp-debug
  .codex/skills/rab-react
Due: none

docs: add Service scope examples
  .catpaw/commands/commit.md
  docs/superpowers/plans/2026-08-05-service-scope-demos.md
  docs/superpowers/specs/2026-08-05-service-scope-demos-design.md
  skills/rab-cdp-debug/SKILL.md
  skills/rab-react/SKILL.md
  skills/rab-react/evals/README.md
  skills/rab-react/evals/evals.json
  skills/rab-react/references/async-operations.md
  skills/rab-react/references/best-practices.md
  skills/rab-react/references/computed-properties.md
  skills/rab-react/references/debugging.md
  skills/rab-react/references/decorators.md
  skills/rab-react/references/domain-architecture.md
  skills/rab-react/references/event-system.md
  skills/rab-react/references/hooks-api.md
  skills/rab-react/references/observable-api.md
  skills/rab-react/references/ssr.md
  website/src/demos/service-scope/ServiceScopeDemo.tsx
  website/src/demos/service-scope/ServiceScopeServices.ts
  website/src/demos/service-scope/index.ts
  website/src/pages/guides/Service.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@089655feb3e7a880d19cb2071aa4a7fd90b046a3 🚀
  assets/index-C-i_apTU.js
  assets/index-DuoyFJ6I.js
  index.html
Due: eslint --fix, prettier --write
