Repository ximing/rab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: design bilingual AI-first README
  docs/superpowers/specs/2026-08-05-bilingual-readme-ai-first-design.md
Due: prettier --write

docs: plan bilingual AI-first README implementation
  docs/superpowers/plans/2026-08-05-bilingual-readme-ai-first.md
Due: prettier --write

docs: add AI first state architecture graphic
  docs/assets/ai-first-state.svg
Due: none

docs: rewrite README around AI first architecture
  README.md
Due: prettier --write

docs: add Chinese README
  README.zh-CN.md
Due: prettier --write

docs: add production bundle size
  README.md
  README.zh-CN.md
Due: prettier --write

docs: rab-rn-debug design spec
  docs/superpowers/specs/2026-08-16-rab-rn-debug-design.md
Due: prettier --write

docs: rab-rn-debug implementation plan
  docs/superpowers/plans/2026-08-16-rab-rn-debug.md
Due: prettier --write

feat(rn-debug-server): 设备注册表与 /device WS 端点
  packages/rn-debug-server/jest.config.js
  packages/rn-debug-server/package.json
  packages/rn-debug-server/src/__tests__/device-registry.test.ts
  packages/rn-debug-server/src/__tests__/server-register.test.ts
  packages/rn-debug-server/src/device-registry.ts
  packages/rn-debug-server/src/server.ts
  packages/rn-debug-server/src/types.ts
  packages/rn-debug-server/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(rn-debug-server): 指令分发器与 Agent HTTP 指令端点
  packages/rn-debug-server/src/__tests__/dispatcher.test.ts
  packages/rn-debug-server/src/__tests__/server-commands.test.ts
  packages/rn-debug-server/src/command-dispatcher.ts
  packages/rn-debug-server/src/server.ts
  packages/rn-debug-server/src/types.ts
Due: eslint --fix, prettier --write

test(rn-debug-server): 超时与断线集成测试
  packages/rn-debug-server/src/__tests__/server-timeout.test.ts
Due: eslint --fix, prettier --write

feat(rn-debug-server): events 总线与 /events 端点
  packages/rn-debug-server/src/__tests__/events.test.ts
  packages/rn-debug-server/src/command-dispatcher.ts
  packages/rn-debug-server/src/events-bus.ts
  packages/rn-debug-server/src/server.ts
Due: eslint --fix, prettier --write

feat(rn-debug-server): 内置调试页面
  packages/rn-debug-server/src/__tests__/debug-page.test.ts
  packages/rn-debug-server/src/debug-page.html
  packages/rn-debug-server/src/server.ts
Due: eslint --fix, prettier --write

feat(rn-debug-server): CLI 入口与构建配置
  .gitignore
  packages/rn-debug-server/README.md
  packages/rn-debug-server/bin/rab-rn-debug.js
  packages/rn-debug-server/build.config.ts
  packages/rn-debug-server/src/cli.ts
  packages/rn-debug-server/src/main.ts
  packages/rn-debug-server/src/server.ts
  packages/rn-debug-server/tsconfig.json
Due: eslint --fix, prettier --write

feat(rn-debug): 包脚手架与 safeSerialize
  packages/rn-debug/jest.config.js
  packages/rn-debug/package.json
  packages/rn-debug/src/__tests__/serialize.test.ts
  packages/rn-debug/src/serialize.ts
  packages/rn-debug/src/types.ts
  packages/rn-debug/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(rn-debug): 串行指令执行器
  packages/rn-debug/src/__tests__/command-executor.test.ts
  packages/rn-debug/src/command-executor.ts
Due: eslint --fix, prettier --write

feat(rn-debug): WS 客户端（重连退避与心跳）
  packages/rn-debug/src/__tests__/ws-client.test.ts
  packages/rn-debug/src/ws-client.ts
Due: eslint --fix, prettier --write

feat(rn-debug): console 捕获环形缓冲
  packages/rn-debug/src/__tests__/console-capture.test.ts
  packages/rn-debug/src/console-capture.ts
Due: eslint --fix, prettier --write

fix(rn-debug): console 捕获的 save/restore 兼容与 setup 健壮性
  packages/rn-debug/src/__tests__/console-capture.test.ts
  packages/rn-debug/src/console-capture.ts
Due: eslint --fix, prettier --write

feat(rn-debug): rab Service 内置调试指令
  packages/rn-debug/src/__tests__/rab-handlers.test.ts
  packages/rn-debug/src/rab-handlers.ts
Due: eslint --fix, prettier --write

fix(rn-debug): 统一路径解析修复 paths 模式数组 length
  packages/rn-debug/src/__tests__/rab-handlers.test.ts
  packages/rn-debug/src/rab-handlers.ts
Due: eslint --fix, prettier --write

feat(rn-debug): setupRNDebug 入口与内置指令集成
  packages/rn-debug/src/__tests__/setup.test.ts
  packages/rn-debug/src/main.ts
  packages/rn-debug/src/platform.ts
  packages/rn-debug/src/setup.ts
Due: eslint --fix, prettier --write

feat(rn-debug): 构建配置与 README
  packages/rn-debug/README.md
  packages/rn-debug/build.config.ts
Due: eslint --fix, prettier --write

docs: rab-rn-debug skill
  skills/rab-rn-debug/SKILL.md
Due: prettier --write

test: rab-rn-debug 端到端联调验证
  packages/rn-debug/src/__tests__/e2e.test.ts
Due: eslint --fix, prettier --write

fix: HTTP handler 异常兜底，坏请求不再击溃 server 进程
  packages/rn-debug-server/src/__tests__/server-commands.test.ts
  packages/rn-debug-server/src/server.ts
Due: eslint --fix, prettier --write

fix: command-executor 吞掉 send 抛错，队列不再被永久毒化
  packages/rn-debug/src/__tests__/command-executor.test.ts
  packages/rn-debug/src/command-executor.ts
Due: eslint --fix, prettier --write

fix: 调试页面 innerHTML 插值全部经 escapeHtml 转义（XSS）
  packages/rn-debug-server/src/__tests__/debug-page.test.ts
  packages/rn-debug-server/src/debug-page.html
Due: eslint --fix, prettier --write

fix: ws close 守卫，旧 socket 迟到 close 不再踢掉同 deviceId 新连接
  packages/rn-debug-server/src/__tests__/server-register.test.ts
  packages/rn-debug-server/src/server.ts
Due: eslint --fix, prettier --write

chore: add changeset for rab-rn-debug packages
  .changeset/lucky-pugs-wave.md
Due: prettier --write

feat: support installing rab skills across coding agent tools
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  .cursor-plugin/plugin.json
  .kimi-plugin/plugin.json
  .opencode/plugins/rab.js
  README.md
  README.zh-CN.md
  package.json
  website/src/App.tsx
  website/src/pages/Home.tsx
  website/src/pages/ai/AiOverview.tsx
  website/src/pages/ai/SkillCdpDebug.tsx
  website/src/pages/ai/SkillRabReact.tsx
  website/src/pages/ai/SkillRnDebug.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@05105fd23e9d183a10d58c2fc50d1a3f80d78331 🚀
  assets/index-D1XvzfsR.js
  assets/index-DuoyFJ6I.js
  index.html
Due: eslint --fix, prettier --write

feat: make rab repo a self-contained Codex plugin marketplace
  .agents/plugins/marketplace.json
  README.md
  README.zh-CN.md
  website/src/pages/ai/AiOverview.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@0b9a953706849d286c1370a0abd858920d838e9e 🚀
  assets/index-aXpPmQfB.js
  index.html
Due: eslint --fix, prettier --write

fix(observer): symmetric iteration-key registration/notification and array length-shrink notification
  packages/observer/src/__tests__/iteration-key.test.ts
  packages/observer/src/internals/reaction-track.ts
Due: eslint --fix, prettier --write

fix(observer): add defineProperty trap so Object.defineProperty no longer silently bypasses reactivity
  packages/observer/src/__tests__/define-property.test.ts
  packages/observer/src/internals/handlers/base-proxy-handler.ts
  packages/observer/src/internals/handlers/shadow-proxy-handler.ts
Due: eslint --fix, prettier --write

fix(observer): block prototype-pollution paths via __proto__/constructor handling
  packages/observer/src/__tests__/proto-pollution.test.ts
  packages/observer/src/internals/handlers/base-proxy-handler.ts
  packages/observer/src/internals/handlers/shadow-proxy-handler.ts
Due: eslint --fix, prettier --write

fix(observer): shadow collection proxies fall back to native target properties
  packages/observer/src/__tests__/shadow-collection-unknown-key.test.ts
  packages/observer/src/shadow-observable.ts
Due: eslint --fix, prettier --write

fix(observer): stop strongly retaining collection dependency keys (WeakRef wrapping)
  packages/observer/src/__tests__/weak-keys-gc.test.ts
  packages/observer/src/internals/reaction-track.ts
Due: eslint --fix, prettier --write

perf(observer): skip getOwnPropertyDescriptor for primitive reads and early-exit empty reaction queues
  packages/observer/src/internals/handlers/base-proxy-handler.ts
  packages/observer/src/internals/handlers/shadow-proxy-handler.ts
  packages/observer/src/internals/reaction-runner.ts
  packages/observer/src/internals/reaction-track.ts
  packages/observer/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
