Repository ximing/rab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(GG6): pin cross-mode iterate notify, array truncation cleanup, sync-scheduler reentry, double unobserve
  packages/observer/src/__tests__/gg6-regression-hardening.test.ts
Due: eslint --fix, prettier --write

test(GG6): pin cross-proxy array shrink and Set delete notification semantics
  packages/observer/src/__tests__/mode-split-cross-proxy-array-set.test.ts
Due: eslint --fix, prettier --write

fix(observer): skip dep registration for unobserved running reaction; drop stale shadow JSDoc
  packages/observer/src/__tests__/connection-cleanup-interleave.test.ts
  packages/observer/src/internals/reaction-runner.ts
  packages/observer/src/shadow-observable.ts
Due: eslint --fix, prettier --write

test(GG6): pin scheduler-drain, throw-isolation cleanup, cross-mode notify, per-proxy handlers
  packages/observer/src/__tests__/gg6-regression-review-round3.test.ts
Due: eslint --fix, prettier --write

fix(observer): tag-based collection routing, cross-realm built-in blacklist, lazy clear oldValue copy
  packages/observer/src/__tests__/clear-oldvalue-consumer.test.ts
  packages/observer/src/__tests__/collection-subclass-crossrealm.test.ts
  packages/observer/src/internals/handlers/collection-handler.ts
  packages/observer/src/internals/handlers/shadow-collection-handler.ts
  packages/observer/src/internals/reaction-runner.ts
Due: eslint --fix, prettier --write

test(GG7): pin cross-realm WeakMap/WeakSet routing, nested cross-realm built-ins, clear self-notify edges
  packages/observer/src/__tests__/collection-routing-hardening.test.ts
Due: eslint --fix, prettier --write

fix(observer): harden collection routing, NaN normalization, shadow subclass methods, clear TOCTOU
  packages/observer/src/__tests__/collection-routing-adversarial-round2.test.ts
  packages/observer/src/internals/handlers/collection-handler.ts
  packages/observer/src/internals/handlers/shadow-collection-handler.ts
  packages/observer/src/internals/utils.ts
  packages/observer/src/shadow-observable.ts
Due: eslint --fix, prettier --write

test(GG7): pin lazy clear oldValue consumer matrix (transform/iterate-key/cross-realm/shadow-shared/NaN-symbol keys)
  packages/observer/src/__tests__/clear-oldvalue-hardening.test.ts
Due: eslint --fix, prettier --write

fix(observer): restore ES2024 Set methods, generalize blacklist subclass carve-out, harden clear/duck-check
  packages/observer/src/__tests__/collection-routing-adversarial-round3.test.ts
  packages/observer/src/internals/handlers/collection-handler.ts
  packages/observer/src/shadow-observable.ts
Due: eslint --fix, prettier --write

docs(observer): document unobserve in-flight execution semantics and known limitations
  packages/observer/README.md
  packages/observer/src/__tests__/unobserve-post-cancel-semantics.test.ts
Due: eslint --fix, prettier --write

fix(observer): align unobserve with add-only schedulers; no dep leak from nested in-flight unobserved runs
  packages/observer/README.md
  packages/observer/src/__tests__/unobserve-add-only-scheduler.test.ts
  packages/observer/src/__tests__/unobserve-nested-in-flight.test.ts
  packages/observer/src/internals/reaction-runner.ts
  packages/observer/src/internals/types.ts
  packages/observer/src/observer.ts
Due: eslint --fix, prettier --write

docs(changeset): record G1-G8 adversarial-review fix entries
  .changeset/spotty-pugs-wave.md
Due: prettier --write

fix(observer): isolate reaction debugger errors during notification queueing
  packages/observer/src/__tests__/debugger-throw-isolation.test.ts
  packages/observer/src/internals/reaction-runner.ts
Due: eslint --fix, prettier --write

fix(observer): detach reactions whose first execution throws
  packages/observer/src/__tests__/observe-initial-throw.test.ts
  packages/observer/src/internals/reaction-runner.ts
  packages/observer/src/internals/types.ts
Due: eslint --fix, prettier --write

docs(observer): fix scheduler contract contradiction, document new error semantics
  .changeset/spotty-pugs-wave.md
  packages/observer/README.md
Due: prettier --write

test(observer): add public API contract test layer (240 tests, 9 suites)
  packages/observer/README.md
  packages/observer/src/__tests__/api/array.contract.test.ts
  packages/observer/src/__tests__/api/collection.contract.test.ts
  packages/observer/src/__tests__/api/configure-and-utils.contract.test.ts
  packages/observer/src/__tests__/api/handler-exports.contract.test.ts
  packages/observer/src/__tests__/api/observable.contract.test.ts
  packages/observer/src/__tests__/api/observe.contract.test.ts
  packages/observer/src/__tests__/api/readme-examples.contract.test.ts
  packages/observer/src/__tests__/api/shadow-observable.contract.test.ts
  packages/observer/src/__tests__/api/unobserve.contract.test.ts
Due: eslint --fix, prettier --write

changeset: bump @rabjs/observer release to minor
  .changeset/spotty-pugs-wave.md
Due: prettier --write

changeset: bump @rabjs/react and @rabjs/service alongside observer 9.1.0
  .changeset/tidy-pandas-jump.md
Due: prettier --write

fix(website): add ES2021.WeakRef lib to match observer's tsconfig
  website/tsconfig.json
Due: prettier --write

Deploying to gh-pages from @ ximing/rab@b02d6fc99dac8730fabf618f5f6f2884f63b4214 🚀
  assets/index-Dyn4r1EZ.js
  assets/index-aXpPmQfB.js
  index.html
Due: eslint --fix, prettier --write

chore(deps): bump turbo 2.9.14, form-data 4.0.6, vite 7.3.5
  examples/reactive-state/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

security: clear all dependabot alerts (74 -> 0)
  examples/reactive-state/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

Deploying to gh-pages from @ ximing/rab@6aee5ea5f532eaca09b269fd744ca23d5851ddf6 🚀
  assets/index-DkHLYi47.js
  assets/index-Dyn4r1EZ.js
  index.html
Due: eslint --fix, prettier --write

ci: configure dependabot + conditional auto-merge for dev-only patch/minor
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

docs: add demo GIF, badges, English npm metadata, and LICENSE
  LICENSE
  README.md
  README.zh-CN.md
  docs/assets/rab-demo.gif
  docs/assets/social-preview.png
  packages/observer/package.json
  packages/react/package.json
  packages/service/package.json
Due: prettier --write

docs: speed up demo GIF, move architecture diagram to Architecture section
  README.md
  README.zh-CN.md
  docs/assets/rab-demo.gif
Due: prettier --write

chore(deps): consolidate Dependabot upgrades
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/github-pages.yml
  .github/workflows/release.yml
  configs/eslint-config-custom/package.json
  examples/reactive-state/package.json
  package.json
  packages/devtools/build.config.ts
  packages/devtools/package.json
  packages/observer/build.config.ts
  packages/observer/package.json
  packages/react/package.json
  packages/rn-debug-server/package.json
  packages/rn-debug/package.json
  packages/service/build.config.ts
  packages/service/package.json
  packages/shared/build.config.ts
  packages/shared/package.json
  packages/web-mcp/build.config.ts
  packages/web-mcp/package.json
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix, prettier --write

test(rn-debug): make turbo-parallel tests deterministic
  packages/rn-debug-server/src/__tests__/debug-page.test.ts
  packages/rn-debug-server/src/__tests__/dispatcher.test.ts
  packages/rn-debug-server/src/__tests__/events.test.ts
  packages/rn-debug-server/src/__tests__/server-commands.test.ts
  packages/rn-debug-server/src/__tests__/server-register.test.ts
  packages/rn-debug-server/src/__tests__/server-timeout.test.ts
  packages/rn-debug-server/src/__tests__/wait-for.ts
  packages/rn-debug-server/src/server.ts
  packages/rn-debug/src/__tests__/e2e.test.ts
  packages/rn-debug/src/__tests__/setup.test.ts
  packages/rn-debug/src/__tests__/wait-for.ts
  packages/rn-debug/src/__tests__/ws-client.test.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ ximing/rab@2f78d6a39c27c071a35b3866e503df6359cd8185 🚀
  assets/index-C5dpXX83.css
  assets/index-DkHLYi47.js
  assets/index-Jl3hbAjY.js
  assets/index-rzNr1x2-.css
  index.html
Due: eslint --fix, prettier --write

chore(deps): upgrade Changesets CLI to v3 and action to v2
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: drop removed --ignore-scripts from changeset publish
  scripts/publish-npm.sh
Due: none

chore: add changeset for esbuild target and rn-debug-server listen port
  .changeset/major-lines-dig.md
Due: prettier --write

ci: write npm auth to HOME/.npmrc, not the repo tree
  .github/workflows/release.yml
Due: none

ci: write npm token to NPM_CONFIG_USERCONFIG
  .github/workflows/release.yml
Due: none

ci: write npm auth into project .npmrc only during publish
  .github/workflows/release.yml
  scripts/ci-publish.sh
Due: none

ci: also overwrite setup-node userconfig with a real npm token
  scripts/ci-publish.sh
Due: none

ci: print npm whoami before publish (no token value)
  scripts/ci-publish.sh
Due: none

ci: remove publish whoami debug logging
  scripts/ci-publish.sh
Due: none

chore: lock @rabjs packages to a shared 9.3.2 version
  .changeset/config.json
  examples/reactive-state/CHANGELOG.md
  examples/reactive-state/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/rn-debug-server/CHANGELOG.md
  packages/rn-debug-server/package.json
  packages/rn-debug/CHANGELOG.md
  packages/rn-debug/package.json
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/web-mcp/CHANGELOG.md
  packages/web-mcp/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write

chore(deps): upgrade jest 30, commitlint 21, glob 13, and react 19 tests
  commitlint.config.js
  examples/reactive-state/package.json
  package.json
  packages/devtools/jest.config.js
  packages/devtools/package.json
  packages/observer/jest.config.js
  packages/observer/package.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/observer.tsx
  packages/rn-debug-server/jest.config.js
  packages/rn-debug-server/package.json
  packages/rn-debug/jest.config.js
  packages/rn-debug/package.json
  packages/service/jest.config.js
  packages/service/package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/web-mcp/jest.config.js
  packages/web-mcp/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
